<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shreerai.digitalcard">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/app_menu_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activityUserProfile.UserProfileActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignInActivity"
            android:label="Digital Card"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".signUp.IntroActivity" />
        <activity android:name=".signUp.EmailActivity" />
        <activity android:name=".signUp.UsernameActivity" />
        <activity android:name=".signUp.PasswordActivity" />
        <activity android:name=".signUp.DetailActivity" />
        <activity android:name=".signUp.CardSelectionActivity" />
        <activity
            android:name=".detailActivity.DetailsActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".activityCardDisplay.CardDisplayActivity" />
        <activity
            android:name=".enlargeContact.EnlargeCardContact"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".activitySearch.SearchActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".addCardActivity.AddCardActivity" />
        <activity
            android:name=".activityFriendRequest.FriendRequestActivity"
            android:label="Digital Card"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>